:root {
    --color-bg: #E8ECE9;
    --color-text: #121613;
    --color-border: rgba(0, 0, 0, 0.12);

    /* Primary */
    --color-primary: rgb(152, 226, 198);
    --color-primary-transparent: rgba(152, 226, 198, 0.3);
    /* Secondary */
    --color-secondary: #D4E7C4;
    /* Accent */
    --color-accent: #FF8B3D;
    --color-accent-mutted: #e2864a;
    /* Neutrals */
    --color-neutral: #F7F7F5;

    /* Gradients */
    --gradient-primary: linear-gradient(135deg, #E8ECE9 0%, #98E2C6 25%, #D4E7C4 50%, #98E2C6 75%, #E8ECE9 100%);
    --gradient-secondary: linear-gradient(120deg, #E8ECE9 0%, #D4E7C4 40%, #98E2C6 70%, #FF8B3D 100%);
    --gradient-bg: var(--gradient-primary);

    color: var(--color-text);

    --recipe-card-bg: rgba(255, 255, 255, 0.8);
    --toast-bg: #e8f7ef;
    --toast-text-color: #0f172a;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    :root {
        --color-bg: #121613;
        --color-text: #E8ECE9;
        --color-border: rgba(255, 255, 255, 0.12);
        --color-primary: rgb(47, 79, 62);
        --color-primary-transparent: rgba(47, 79, 62, 0.3);
        --color-secondary: #283825;
        --color-accent: #FF8B3D;
        --color-neutral: #373737;
        --gradient-primary: linear-gradient(135deg, #121613 0%, #1F2620 25%, #2F4F3E 50%, #1F2620 75%, #0A0D0B 100%);
        --gradient-secondary: linear-gradient(120deg, #121613 0%, #283825 40%, #2F4F3E 70%, #FF8B3D 100%);
        --gradient-bg: var(--gradient-primary);
        color: var(--color-text);
        --recipe-card-bg: rgba(0, 0, 0, 0.4);
        --toast-bg: #2f4f3e;
        --toast-text-color: #e8ece9;
    }

    background: #0A0D0B;
}

html {
    height: 100dvh;
    background-color: #0A0D0B;
    background: var(--gradient-bg);
    background-attachment: fixed;
}

body {
    background: var(--gradient-primary);
    background-color: var(--color-bg);
    margin: 0;
    color: var(--color-text);
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    font-family: "Inter", "Segoe UI", Roboto, "Helvetica Neue", Arial, system-ui, -apple-system, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

@media (min-width: 1700px) {
    body{
        width: 100%;
        max-width: 1700px;
        box-sizing: border-box;
        background: var(--gradient-primary);
        backdrop-filter: blur(10px) saturate(150%);
        padding : 0 20px;
        border-radius: 15px;
        margin: 0 auto;
    }
}