.carousel-slide{
    position: relative;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
}

.carousel-slide{
    cursor: pointer;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 100%;
    max-height: 600px;
    align-items: center;
    justify-content: flex-start;
}

.carousel-item{
    min-width: 100%;
    max-width: 100%;
    flex-shrink: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
}

.carousel-item:hover{
    transform: scale(1.005);
}

.carousel-item img{
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 600px;
}