{% extends 'pages/authenticated.html' %}

{% block extra_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/inventory/inventory.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search/search.css')}}">
    <script defer src="{{ url_for('static', filename='js/inventory/inventory.js') }}"></script>
{% endblock %}

{% block main %}

    {% include 'components/search.html' %}

    <section class="inventory-section">
        <div class="inventory-grid">
            {% for item in inventory_items %}
                <div class="inventory-card" id="{{ item.name }}">
                    <h1 class="item-name">{{ item.name }}</h1>
                </div>
            {% else %}
                <p class="no-items-message">No items in inventory.</p>
            {% endfor %}
        </div>
    </section>

    <div class="ingredient-page-container hidden"></div>
    {% if admin %}
    <div class="create-ingredient-container hidden">
        <div class="create-ingredient-card">
            <h1 class="create-ingredient-title">Create New Ingredient</h1>
            <form id="create-ingredient-form">
                <label>
                    <input type="text" name="name" placeholder="Ingredient Name" required>
                </label>
                <label>
                    <input type="text" name="unit" placeholder="Unit (e.g., g, cups)" required>
                </label>
                <label>
                    <input type="text" name="category" placeholder="Category (e.g., Dairy, Produce)" required>
                </label>
                <label>
                    <input type="text" name="range-min" placeholder="Range-min" required>
                </label>
                <label>
                    <input type="text" name="range-max" placeholder="Range-max" required>
                </label>
                <label>
                    <input type="text" name="step" placeholder="Quantity step" required>
                </label>
                <button type="submit">Create Ingredient</button>
            </form>
        </div>
    </div>
    {% endif %}

{% endblock %}