:root{
    --color-primary-transparent: #ffffff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-primary-transparent: var(--color-primary-transparent);
    }
}

.recipes-page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
}

.recipes-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
    width: 95%;
    margin-top: 20px;
}

.recipe-card{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-border);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    background: var(--color-primary-transparent);
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.recipe-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.6);
}

.image-container {
    position: relative;
    overflow: hidden;
    padding: 0 5px;
    margin: 0;
}

.recipe-image {
    object-fit: cover;
    width: 100%;
    height: 450px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
}
.recipe-text{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    height: 13rem;
    text-align: center;
    backdrop-filter: blur(150px);
    -webkit-user-select: text;
}
.recipe-card:before{
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background: var(--color-accent);
    border-radius: 15px;
}

.view-recipes-button{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: var(--color-accent);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.25rem;
    transition: background-color 0.3s ease, filter 0.3s ease, transform 0.3s ease, opacity 0.3s ease-in-out;
    box-shadow: 0 5px 10px rgba(0,0,0,0.4);
    opacity: 0;
    will-change: transform, opacity;
    animation: bob 900ms ease-in-out infinite alternate;
    text-shadow: rgba(10, 13, 11, 0.6) 1px 1px 2px;
}

@keyframes bob {
    0%   { transform: translate(-50%, -50%) scale(100%); }
    100% { transform: translate(-50%, -55%) scale(101%); }
}

.view-recipes-button:hover{
    background-color: #e67634;
    filter: drop-shadow(rgba(0,0,0, 0.3) 0 2px 5px);
    animation-play-state: paused;
}

.recipe-name {
    font-size: 1.5rem;
    width: 100%;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: var(--color-text);
    text-shadow: rgba(0, 0, 0, 0.3) 1px 1px 2px;
    position: relative;
}

.recipe-name:after{
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    margin: 8px auto 0 auto;
    background: var(--color-border);
    border-radius: 15px;
}