{% extends 'layouts/auth.html' %}
{% block auth_content %}
    <h1 class="auth-title">Create a new account</h1>
    <form method="POST" action="{{ handler_url }}" class="auth-form">
        {{ form.csrf_token }}
        <div class="input-field">
            {{ form.username(class="my-input", placeholder=" ", required=True) }}
            <label for="{{ form.username.id }}">{{ form.username.label.text }}</label>

            {% set user_errors = form.username.errors %}
            {% if username_error_message %}
            {% set user_errors = user_errors + [username_error_message] %}
            {% endif %}

            {% if user_errors|length > 0 %}
            <ul class="form-errors">
                {% for error in user_errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="input-field">
            {{ form.email(class="my-input", placeholder=" ", required=True, type="email") }}
            <label for="{{ form.email.id }}">{{ form.email.label.text }}</label>

            {% set email_errors = form.email.errors %}
            {% if email_error_message %}
            {% set email_errors = email_errors + [email_error_message] %}
            {% endif %}

            {% if email_errors|length > 0 %}
            <ul class="form-errors">
                {% for error in email_errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="input-field">
            {{ form.password(class="my-input", placeholder=" ", required=True) }}
            <label for="{{ form.password.id }}">{{ form.password.label.text }}</label>

            {% set password_errors = form.password.errors %}
            {% if password_error_message %}
            {% set password_errors = password_errors + [password_error_message] %}
            {% endif %}

            {% if password_errors|length > 0 %}
            <ul class="form-errors">
                {% for error in password_errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <button type="submit" class="auth-submit">{{ form.submit.label.text }}</button>
        <div class="register">
            <p>Already have an account?
              <a href="{{ url_for('authentication_bp.login') }}">Login</a>
            </p>
        </div>
    </form>
{% endblock %}