.footer-container {
    width: 100%;
    margin: 20px auto;
}

.break{
    width: 90%;
    height: 3px;
    border-radius: 15px;
    background-color: var(--color-border);
    margin: 20px auto;
}

.footer-container p {
    text-align: center;
    color: var(--color-text);
    opacity: 0.7;
    font-size: 14px;
}